<main>
  <div class="register-section auth-section column-section shadow-border">
    <img class="shop-logo" src="assets/JoyCardLogo.png" alt="Joy Card">
    <div class="register-form row-section">
      <div class="column-section form-column">
        <input type="text" placeholder="First Name" name="username">
        <input type="text" placeholder="Last Name" name="first-name">
        <input type="email" placeholder="Email" name="email">
      </div>
      <div class="column-section form-column">
        <input type="password" placeholder="Password" name="password">
        <input type="password" placeholder="Repeat Password" name="repeat-password">
      </div>
    </div>
    <div class="buttons row-section">
      <button id="signup-cancel-button" class="cancel-button">Cancel</button>
      <button id="signup-button" class="signup-button ok-button">Sign Up</button>
    </div>
  </div>
</main>
