@import "src/styles/variables";

$section-padding-top: 0px;
$section-padding-bottom: 70px;
$section-padding-horizontal: 70px;

.auth-section {
  margin-top: $logo-circle-diameter;
  justify-content: center;
  align-items: center;
  padding: $section-padding-top $section-padding-horizontal $section-padding-bottom;
  background-color: $white-color;
  position: relative;

  .register-form, .form-column {
    input {
      margin-bottom: 10px;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }

  .register-form {
    justify-content: center;
    width: 100%;

    .form-column {
      padding: 0 15px;
    }
  }

  .buttons {
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;

    #signup-button{
      background-color: $primary-color;
    }

    #cancel-button,
    #signup-button {
      width: 45%;
      padding: 10px;
      box-sizing: border-box;
      border: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .auth-section {
    width: 50%;

    .register-form {
      flex-direction: column;

      .form-column {
        padding: 0;
      }
    }

    .buttons {
      flex-direction: column;

      #cancel-button,
      #signup-button {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
