@import "src/styles/variables";

$section-padding-top: 0px;
$section-padding-bottom: 70px;
$section-padding-horizontal: 70px;

.register-section {
  display: flex;
  margin-top: $logo-circle-diameter;
  justify-content: center;
  align-items: center;
  padding: $section-padding-top $section-padding-horizontal $section-padding-bottom;
  background-color: $white-color;
  position: relative;

  .register-form {
    justify-content: center;
    width: 100%;

    input {
      margin-bottom: 10px;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      box-sizing: border-box;
    }

    .info-section {
      display: flex;
      padding: 0;
    }

    .password-section {
      display: flex;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;

    #signup-button {
      background-color: $primary-color;
    }

    .btn {
      min-width: 45%;
      padding: 10px;
      box-sizing: border-box;
      border: none;
    }
  }
}

.login-cta{
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .auth-section {
    .register-form {
      .info-section {
        padding: 0;
      }
    }
  }

  .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
