@import "src/styles/variables";

@media (max-width: 600px) {
  header {
    height: 70px;
  }
}

header {
  background-color: $primary-color;
}

.header-logo {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 10,
  'wght' 800,
  'GRAD' 0,
  'opsz' 48;
  margin-right: $margin-right-icon;
  background-color: $primary-color;
  border-radius: 5px;
  padding: 4px;
  border: 1px solid $primary-color;
}

.material-symbols-outlined:hover{
  border: 1px solid $gray-color;
}
