@import "src/styles/variables";

.mobile-logo {
  padding-right: 5px;
  padding-left: 5px;

  img {
    height: 30px;
  }
}

.desktop-logo {
  padding-left: 10px;

  img {
    height: 30px;
  }
}

@media (max-width: 767px) {
  header {
  }
  .desktop-logo {
    display: none;
  }

  .mobile-logo {
    display: block;
  }
}

@media (min-width: 768px) {
  .desktop-logo {
    display: block;
  }

  .mobile-logo {
    display: none;
  }
}

header {
  background-color: $primary-color;
}

.header-logo {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 10,
  'wght' 800,
  'GRAD' 0,
  'opsz' 48;
  background-color: $primary-color;
  border-radius: 5px;
  padding: 4px;
  border: 1px solid $primary-color;

  &:hover {
    border: 1px solid $gray-color;
  }
}

.dropdown-content {
  border-radius: 5px;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #f9f9f9;

  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: $primary-color;
      color: white;
    }
  }
}

.show {
  display: block;
}



