$primary-color: #3F51B5;
$white-color: white;
$black-color: #000000;
$gray-color: #ccc;
$red-color: red;

$font-family-base: Arial, sans-serif;

$margin-right-icon: 15px;
$shop-logo-height: 30px;
$login-section-padding: 40px;

$menu-left-margin: 10px;

$height-of-header: 70px;

$logo-circle-diameter: 200px;
$logo-margin-top: $logo-circle-diameter / 2;
$logo-margin-bottom: 50px;
