@import "src/styles/variables";

.certificate-info-section {
  .certificate-form {
    .image-description-wrapper {
      display: flex;

      img {
        max-width: 45%;
        height: auto;
      }

      .description-section {
        padding: 0 5px;

        label {
          font-weight: bold;
        }

        p.description {
          margin-top: 5px;
          height: 90%;
          border: 1px solid $gray-color;
          padding: 10px;
          border-radius: 5px;
        }
      }
    }

    .tags {
      .tag-list {
        border: 1px solid $gray-color;
        border-radius: 5px;

        label {
          background-color: $primary-color;
          color: $white-color;
          padding: 5px 10px;
          margin: 5px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }

  .certificate-action {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;

    .action-text {
      padding-top:5px;
      margin-left: 5px;
      margin-right: 5px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    #add-to-cart {
      min-width: 110px;
      background-color: $primary-color;
    }
    .favorite-icon {
    }
  }
}

@media (max-width: 768px) {
  .certificate-info-section {
    .certificate-form {
      .image-description-wrapper {
        align-items: center;
        text-align: center;
      }
    }
  }
}
