<main *ngIf="certificate" class="justify-content-center">
  <div class="certificate-info-section main-section flex-column">
    <h2 class="section-header">{{ certificate.name }}</h2>
    <div class="certificate-form">
      <div class="image-description-wrapper flex-column flex-md-row">
        <img [src]="certificate.img ? certificate.img :'assets/coupon.png' " alt="Certificate Image">
        <div class="description-section flex-column">
          <label>Description</label>
          <p class="description">{{ certificate.description }}</p>
        </div>
      </div>
      <div class="tags">
        <H4>Categories</H4>
        <div class="tag-list">
          <label *ngFor="let tag of certificate.tags">{{ tag.name }}</label>
        </div>
      </div>
    </div>
    <div class="certificate-action flex-column flex-md-row">
      <span class="flex-row action-text">
        <app-favorite-button [itemId]="certificate.id"></app-favorite-button>
        <span class="valid-info flex-row">
        <h5 class="d-inline-block">
          Valid for:
          <span>{{ certificate.duration }}</span>
          days
        </h5>
      </span>
        <span class="price-info">
        <h5 class="d-inline-block"><span>{{ certificate.price }}</span>$</h5>
      </span>
      </span>

      <button id="add-to-cart" class="btn btn-primary" (click)="addToCart()">add to cart</button>
    </div>
  </div>
</main>
