<main>
  <div class="container my-5 main-section cart-section">
    <h2 class="section-header">Your Cart</h2>

    <ng-container *ngIf="cart.length; else emptyCart">
      <div class="row">
        <div class="col-12">
          <div class="card mb-3 cart-item"
               *ngFor="let item of cart"
          >
            <div class="row g-0">
              <div class="col-md-2">
                <img [src]="item.certificate.img ? item.certificate.img :'assets/coupon.png'"
                     alt="Certificate Image"
                     class="img-fluid rounded-start"
                     routerLink="/certificates/{{ item.certificate.id }}"
                >
              </div>
              <div class="col-md-7">
                <div class="card-body" routerLink="/certificates/{{ item.certificate.id }}">
                  <h3 class="card-title">
                    {{ item.certificate.name }}</h3>
                  <p class="card-text">Valid for: <span class="price">{{ item.certificate.duration }}</span> days</p>
                  <p class="card-text">Price: <span class="price">${{ item.certificate.price }}</span></p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <label for="quantity-{{item.certificate.id}}" class="me-2">Quantity: </label>
                    <input class="quantity-input" type="number" id="quantity-{{item.certificate.id}}"
                           [(ngModel)]="item.quantity"
                           (change)="changeQuantity(item)" min="1">
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <app-favorite-button [itemId]="item.certificate.id" class="fav-btn"></app-favorite-button>
                    <button class="btn btn-danger" (click)="removeFromCart(item)">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 text-end">
          <h3>Total:
            <span class="total-price">${{ getTotalPrice() }}</span>
          </h3>
        </div>
        <div class="col-12 text-end">
          <button class="btn btn-primary" (click)="checkout()">Checkout</button>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyCart>
      <h4 class="text-center">Cart is empty</h4>
    </ng-template>
  </div>
</main>
