<main>
  <div class="category-wrapper">
    <div id="popular-categories" class="category-section d-flex flex-column flex-md-row justify-content-between">
      <div class="category-title  d-flex">
        <h3>Popular<br>Categories</h3>
      </div>
      <div class="d-flex flex-wrap justify-content-center w-100">
        <div *ngFor="let tag of popularTags" (click)="onTagClick(tag.name)"
             class="p-1 p-md-3 m-2 bg-light border rounded popular-tag">
          {{ tag.name }}
        </div>
      </div>
    </div>
  </div>


  <div class="filter-sort-wrapper d-flex justify-content-between flex-column flex-md-row">
    <label>Price Range:</label>
    <span>
      <label for="min-price">Min price:</label>
      <input type="text" id="min-price" placeholder="$ Min" [(ngModel)]="minPrice" (change)="initSearch()">
    </span>
    <span>
      <label for="max-price">Max price:</label>
      <input type="text" id="max-price" placeholder="$ Max" [(ngModel)]="maxPrice" (change)="initSearch()">
    </span>
    <div class="sort-section d-flex">
      <label for="sort-options">Sort By:</label>
      <select id="sort-options" [(ngModel)]="sortBy" (change)="initSearch()">
        <option value="createDate,asc">Date: old to new</option>
        <option value="createDate,desc">Date: new to old</option>
        <option value="price,asc">Price: Low to High</option>
        <option value="price,desc">Price: High to Low</option>
        <option value="name,asc">Name: A to Z</option>
        <option value="name,desc">Name: Z to A</option>
      </select>
    </div>
  </div>

  <div class="certificate-container">
    <div *ngFor="let certificate of certificates" class="certificate-tile d-flex flex-column">
      <div class="image-container">
        <img [src]="certificate.certificateImage"
             alt="Certificate Image"
             (mousedown)="onTileMouseDown($event)"
             (mouseup)="onTileMouseUp($event)"
             routerLink="/certificates/{{ certificate.id }}"
        >
      </div>
      <h5 class="certificate-card-header d-flex  justify-content-between"
          (mousedown)="onTileMouseDown($event)"
          (mouseup)="onTileMouseUp($event)"
          routerLink="/certificates/{{ certificate.id }}"
      >
        {{ certificate.name }}
      </h5>
      <div class="actions d-flex flex-row  justify-content-between">
        <app-favorite-button [itemId]="certificate.id" class="fav-btn"></app-favorite-button>
        <h5>{{ certificate.price }}$</h5>
        <span (click)="addToCart(certificate.id)"
              class="material-symbols-outlined cart-icon icon">
        shopping_cart
      </span>
      </div>
    </div>
  </div>
  <div class="spinner" *ngIf="loading">
    <div class="spinner-dot"></div>
    <div class="spinner-dot"></div>
    <div class="spinner-dot"></div>
  </div>
  <div *ngIf="!errorMessage && !loading" class="load-more-btn-wrapper text-center">
    <button class="btn btn-primary" (click)="loadMoreResults(20)">Load More Certificates</button>
  </div>
  <div *ngIf="errorMessage" class="error-message d-flex">
    {{ errorMessage }}
  </div>
</main>
