@import "src/styles/variables";

.popular-tag {
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: scale(0.9);
  }
  @media (max-width: 768px) {
   max-height: 30px;
    padding:4px;
  }
}

.category-wrapper {
  padding: 10px 20px;
}

.filter-sort-wrapper {
  align-items: center;
  border: 1px solid $gray-color;
  border-radius: 5px;
  padding: 5px;
  margin: 0 20px;
  @media (max-width: 768px) {
    align-items: stretch;
  }

  label {
    margin: 5px;
  }

  input[type="text"] {
    margin: 5px;
    border: 1px solid $gray-color;
    border-radius: 5px;
    height: 20px;
  }

  .sort-section {
    align-items: center;
    margin: 5px;

    label {
      margin: 5px 10px 5px 5px;
    }

    select {
      padding: 5px 10px;
      border: 1px solid $gray-color;
      border-radius: 5px;
      background: $white-color;
    }
  }
}

.range-slider {
  width: 100%;
  position: relative;

  .range-slider__range {
    width: 100%;
    padding: 0;
    margin: 0 10px;
  }
}

p, .certificate-name, .description {
  margin: 0;
}

.certificate-tile {
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  img {
    align-self: center;
    alignment: center;
    max-width: 70%;
  }

  .actions {
    margin-top: auto;
    width: 100%;
  }

  .actions span {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .actions span:hover {
    transform: scale(1.2);
    color: darkgreen;
  }

  .actions span:active {
    transform: scale(0.9);
  }
}

.certificate-tile.clicked {
  transform: scale(0.9);
}

.certificate-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

@media screen and (max-width: 1200px) {
  .certificate-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .certificate-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .certificate-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .certificate-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.load-more-btn {
  padding-bottom: 10px;
}

.error-message {
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #f00;
  color: #f00;
  background-color: #fdd;
  text-align: center;
  overflow: auto;
}
