@import "src/styles/variables";

.popular-tag {
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: scale(0.9);
  }

  @media (max-width: 768px) {
    max-height: 30px;
    padding: 4px;
  }
}

.category-wrapper {
  padding: 10px 20px;
}

.filter-sort-wrapper {
  align-items: center;
  border: 1px solid $gray-color;
  border-radius: 5px;
  padding: 5px;
  margin: 0 20px;
  @media (max-width: 768px) {
    align-items: stretch;
  }

  label {
    margin: 5px;
  }

  input[type="text"] {
    margin: 5px;
    border: 1px solid $gray-color;
    border-radius: 5px;
    height: 20px;
  }

  .sort-section {
    align-items: center;
    margin: 5px;

    label {
      margin: 5px 10px 5px 5px;
    }

    select {
      padding: 5px 10px;
      border: 1px solid $gray-color;
      border-radius: 5px;
      background: $white-color;
    }
  }
}

.range-slider {
  width: 100%;
  position: relative;

  .range-slider__range {
    width: 100%;
    padding: 0;
    margin: 0 10px;
  }
}

p, .certificate-name, .description {
  margin: 0;
}

.certificate-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .certificate-tile {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
    &.clicked{
      transform: scale(0.9);
    }

    .image-container {
      width: 100%;
      height: 200px;
      overflow: hidden;
    }

    img {
      align-self: center;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .actions {
      margin-top: auto;
      width: 100%;
    }

    .actions span {
      transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .actions span:hover {
      transform: scale(1.2);
      color: darkgreen;
    }

    .actions span:active {
      transform: scale(0.9);
    }
  }
}

.load-more-btn-wrapper {
  padding-bottom: 10px;
  .button{
    background-color: $primary-color;
  }
}

.error-message {
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #f00;
  color: #f00;
  background-color: #fdd;
  text-align: center;
  overflow: auto;
}

.spinner {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.spinner-dot {
  background-color: $primary-color;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 5px;

  /* Animation */
  animation: spinner-dot 1.2s infinite;
  animation-timing-function: linear;
}

.spinner-dot:nth-child(1) {
  animation-delay: 0s;
}

.spinner-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.spinner-dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes spinner-dot {
  0% { transform: scale(1); }
  30% { transform: scale(1.25); }
  60% { transform: scale(1); }
  100% { transform: scale(1); }
}

