@import "src/styles/variables";

.category-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .category-title {
    margin-right: 20px;
  }

  .category-tile {
    flex: 0 0 auto;
    margin: 0 10px;
    border: 1px solid $gray-color;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    }

    justify-content: center;
    align-items: center;

    p {
      margin: 0 2px;
    }

    img {
      width: 50px;
      height: 50px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 600px) {
  .category-section {
    .category-title {
      margin-right: 0;
      text-align: center;
    }

    .category-tile {
      width: 20%; /* adjust as needed */
      margin: 5px auto; /* auto centers the tile */
      img {
        width: 80%;
        height: auto;
      }

      p {
        font-size: small;
      }
    }
  }
}

.category-wrapper {
  padding: 10px 20px;
}

.filter-sort-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $gray-color;
  border-radius: 5px;
  padding: 5px;
  margin: 0 20px;
  @media (max-width: 768px) {
    .filter-sort-item {
      width: 100%;
    }
    flex-direction: column;
    align-items: stretch;
  }

  label {
    margin: 5px;
  }

  input[type="text"] {
    margin: 5px;
    border: 1px solid $gray-color;
    border-radius: 5px;
    height: 20px;
  }

  .sort-section {
    display: flex;
    align-items: center;
    margin: 5px;

    label {
      margin: 5px 10px 5px 5px;
    }

    select {
      padding: 5px 10px;
      border: 1px solid $gray-color;
      border-radius: 5px;
      background: $white-color;
    }
  }
}

.range-slider {
  width: 100%;
  position: relative;

  .range-slider__range {
    width: 100%;
    padding: 0;
    margin: 0 10px;
  }
}

.certificate-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;

  .certificate-tile {
    width: 45%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid $gray-color;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;

    &:hover {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    }

    // For tablets
    @media (min-width: 768px) {
      width: 30%;
    }
    // For desktops
    @media (min-width: 992px) {
      width: 24%;
    }
    // For larger desktops
    @media (min-width: 1200px) {
      width: 17%;
    }

    img {
      max-height: 200px;
      width: 100%;
      object-fit: cover;
    }

    .certificate-info {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .certificate-details {
        flex: 1;
      }

      .certificate-meta {
        align-items: flex-end;

        .favorites-icon {
          background-color: $white-color;
          border-radius: 5px;
          padding: 2px;
          border: 1px solid $white-color;
        }

        .favorites-icon:hover {
          border: 1px solid $primary-color;
        }
      }
    }

    .certificate-action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;

      .add-to-cart {
        padding: 5px 10px;
      }
    }
  }
}

p, .certificate-name, .description {
  margin: 0;
}

.certificate-tile {
  cursor: pointer;
  display: flex;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    /* Scale the tile up slightly when hovered */
    transform: scale(1.05);
    /* Add a shadow to create a "lifting" effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  img {
    align-self: center;
    alignment: center;
    max-width: 70%;
  }

  .actions {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    width: 100%;
  }

  .actions span {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .actions span:hover {
    transform: scale(1.2);
    color: darkgreen;
  }

  .actions span:active {
    transform: scale(0.9);
  }
}

.certificate-tile.clicked {
  transform: scale(0.9);
}

.certificate-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.certificate-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.5em;
}


@media screen and (max-width: 1200px) {
  .certificate-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .certificate-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .certificate-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .certificate-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
