@import 'styles/variables';


body {
  //min-height: calc(100vh - #{$height-of-header});
  font-family: $font-family-base;
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main-content {
  flex: 1 0 auto;
  min-height: 100vh;
}

footer {
  flex-shrink: 0;
}

body,html {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

.btn {
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.btn-primary {
  color: $primary-color;
  background-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.btn-secondary {
  background-color: $gray-color;
  color: $black-color;

  &:hover {
    background-color: darken($gray-color, 10%);
  }
}

input {
  font-size: 16px;
}

textarea {
  font-size: 16px;
}

.shadow-border {
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
}

.icon {
  transition: color 0.3s ease;
  cursor: pointer;
}

.shop-logo {
  margin-top: -$logo-margin-top;
  height: $logo-circle-diameter;
  width: $logo-circle-diameter;
  border-radius: 50%;
  background-color: $primary-color;
  color: $white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: $logo-margin-bottom;
}

@media only screen and (max-width: 600px) {
  .shop-logo {
    top: -$logo-circle-diameter/3;
    height: $logo-circle-diameter / 1.5;
    width: $logo-circle-diameter / 1.5;
    font-size: 25px;
  }
}

.section-header {
  width: 100%;
  text-align: center;
  background-color: $primary-color;
  color: $white-color;
  padding: 10px;
  margin-bottom: 20px;
}

.main-section{
  margin-top: 70px;
  align-items: center;
  padding: 20px;
  max-width: 900px;

  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
}
