<footer class="footer py-3 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          <strong>JoyCard</strong>
          &copy; 2023
          <a href="https://kramarenko.info"><strong>Vladyslav Kramarenko</strong></a>
        </p>
        <p>Completed as part of the <em>"External Java Lab"</em> course by
          <a href="https://epam.com" class="text-white">EPAM SYSTEMS</a>
        </p>
      </div>
    </div>
  </div>
</footer>
